@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonte para o nome da Dra. */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: aliceblue;
   text-align: center;
}

/* Estilização da nav */

nav {
   font-weight: 400;
   background-color: #FFA5AB;
   padding: 20px 0;
}

nav ul {
   list-style: none;
   padding: 0;
}

nav ul li {
   display: inline-block;
   position: relative;
   margin: 0 15px;
}

nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   padding: 10px 15px;
   background: #FFA5AB;
   border-radius: 5px;
}

nav ul li a:hover {
   background-color: #DA627D;
}

/* Estilizando primeira sessão: Apresentação médica */

.apresentacao_medica_container{
   display: flex;
   background-color: #f9f0f1;
   width: 100vw;
   height: 70vh;
   padding: 20px;
   justify-content: space-around;
   align-items: center;
}

.apresentacao_medica_container .informacao_medica{
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.apresentacao_medica_container .informacao_medica h1{
   font-family: "Dancing Script", cursive;
   font-size:xx-large;
}

.apresentacao_medica_container .informacao_medica h3, h4{
   font-weight: 500;
   margin: 5px;
}

.apresentacao_medica_container .informacao_medica .btnAgendar_consulta{
   width: 65%;
   height: 35px;
   border-radius: 10px;
   font-size: medium;
   font-weight: 600;
   margin-top: 15px;
   background-color: #FFA5AB;
   cursor: pointer;
}

.btnAgendar_consulta:active{
   transform: scale(0.9);
   color: whitesmoke;
   border-color: whitesmoke;
}

.btnAgendar_consulta:hover{
   color: whitesmoke;
   border-color: whitesmoke;
}

/* Estilizando container de especialidades */

#especialidades{
   background-color: #FFA5AB;
}
.especialidades_container{
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content: space-around;
}

.tipos_especialidades{
   border: solid black 1px;
   max-width: 500px;
   max-height: 600px;
   padding: 5px;
}

.especialidades_container .tipos_especialidades figcaption h3{
   padding: 10px;
   font-weight: 500;
}

.especialidades_container .tipos_especialidades figcaption p{
   text-align: justify;
   white-space: normal;
   overflow: hidden;
   text-overflow: ellipsis;
   max-height: 100px;
}