@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonte para o nome da Dra. */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Estilizando página de login adm */

.login {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin-top: 50px;
    max-height: 600px;
    width: 400px;
    background-color: #FFA5AB;
    padding: 35px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login .login-container h3 {
    font-weight: 600;
    color: #A53860;
}

.login .login-container h4 {
    font-weight: 400;
    color: #a53860;
    font-style: italic;
}

.login .login-container img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.login-container a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 10px;
}

.login_form {
    align-items: center;
    justify-content: center;
}

.login_form label {
    font-weight: 500;
    margin-right: 10px;
}

.login_form input {
    border-radius: 10px;
    border: none;
    height: 20px;
    background-color: rgb(247, 246, 246);
}

#btnEntrarUser {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #DA627D;
    border: solid 2px #A53860;
    cursor: pointer;
}

/* Estilizando tela inicial do administrador */

.telaPrincipal_container p{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin: 25px 5px 10px 5px;
}

.filter-container {
    display: flex;
    align-items: center; 
    gap: 20px; 
    margin: 30px 0 20px 50px;
}

.filter-container h2{
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 500;
}

.formPesquisa {
    /* display: flex; */
    display: none;
    align-items: center; 
    font-weight: 500;
    gap: 10px; 
    margin-left: auto;
    margin-right: 60px;
}

.formPesquisa form {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.filter-group {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

#imgTelaPrincipal{
    width: 80px;
}

/* Estilizando informações */

#menu-adm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.menu-adm-container{
    padding: 10px 15px;
    margin: 0 20px;
    background: #f3d7e2;
    font-weight: 500;
    border-radius: 10px;
    height: 100vh;
    
}

.menu-adm-container h2{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
}

.menu-adm-container ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-adm-container ul li a{
    text-decoration: none;
    color: black;
}