@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonte para o nome da Dra. */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Estilizando página de login adm */
.bodyLogin{
    flex-direction: column;
}

.login {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 70vh;
    width: 400px;
    background-color: #ffa5ab97;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login .login-container h3 {
    font-size: 30px;
    color: #A53860;
    font-family: 'Dancing Script', cursive;
}

.login .login-container h4 {
    font-size: 25px;
    color: #a53860;
    margin-bottom: 50px;
    font-family: 'Dancing Script', cursive;
}

.login .login-container img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 30px;
}

.login-container a {
    text-decoration: none;
    color: #6F233F;
    font-size: 12px;
    margin-top: 10px;
}

.login-container p{
    font-size: 12px;
    color: black;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.login_form {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login_form label {
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Dancing Script', cursive;
}

.login_form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    height: 20px;
    background-color: rgb(247, 246, 246);
}

#btnEntrarAdm {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #dc738a;
    border: solid 2px #c35d82;
    font-weight: 600;
    color: #6F233F;
    cursor: pointer;
}

#btnEntrarAdm:hover {
    background-color: #A53860;
    color: white;
    transition: 0.3s;
}

#imgTelaPrincipal{
    width: 80px;
}

.modalRecuperacao {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content-recuperacao {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.modal-content-recuperacao h2 {
  color: #A53860;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

.modal-content-recuperacao input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modal-content-recuperacao button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  border: none;
}

.modal-content-recuperacao button[type="submit"] {
  background-color: #dc738a;
  color: #fff;
}

.modal-content-recuperacao .btn-cancelar {
  background-color: #ccc;
}

.mensagem-confirmacao {
  color: green;
  margin-top: 10px;
  font-size: 14px;
}

#verificacao{
    display:none; 
    margin-top: 20px;
}

#verificacao input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 20px 0;
}
/* Estilizando telas principais */

body{
    display: flex;
    min-height: 100vh;
}

main{
    display: block;
    margin: 10px;
    padding: 20px;
}

section{
    padding: 20px;
}

.menu-adm .text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-adm .text-container h2{
    font-size: 16px;
    margin: 0 10px;
    font-family:'Times New Roman', Times, serif
}

.menu-adm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    background-color: #f7c1c4;
    padding: 10px;
    border-radius: 5px;
    height: auto;
}

.menu-adm ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu-adm li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.menu-adm li a:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    font-weight: 500;
}

.menu-adm ul li button{
    background-color: #f59b9f;
    border: 1px solid #6F233F;
    border-radius: 5px;
    width: 20px;
    color: #6F233F;
    font-weight: 200;
    font-size: 16px;
    padding: 10px;
    width: 20%;
    height: 30%;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}

.menu-adm ul li button:hover {
    background-color: #d77b7f;
    color: black;
    font-weight: bold;
}

#mensagemInicial{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    /* font-weight: 500; */
    font-style: italic;
    justify-content: center;
    align-items: center;
}

/* Adicionar filtro */

.formPesquisa{
    display: flex;
    margin-top: 20px;
}

.filter-group{
    margin-left: 10px;
}

.filter-group input[type = "text"], input[type = "date"]{
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
    display: none;
}

/* Confirmação de consulta */

.confirmarContainer{
    display: none;
    /* display: flex; */
    width: 400px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: azure;
    border: 1px solid black;
    border-radius: 2px;
}

.btnconfirmarContainer{
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btnconfirmarContainer:active{
    transform: scale(0.9);
}

.confirmarContainer #confirmar{
    border:1px solid #DA627D;
    background-color: #f59b9f;
    color: #6F233F;
}

.confirmarContainer #cancelar{
    border:1px solid #6F233F;
    background-color:#a53860;
    color: black;
}

.confirmarContainer #confirmar:hover{
    border:1px solid #DA627D;
    background-color: #f59b9f;
    color: #6F233F;
    font-weight: bold;
}

.confirmarContainer #cancelar:hover{
    border:1px solid #6F233F;
    background-color:#a53860;
    color: black;
    font-weight: bold;
}

/* Tabela de pacientes */
#pacientesCadastrados{
    display: flex;
    flex-direction: column;
}

#consultas, #relatorio, #mensagens{
    display: none;
    flex-direction: column;
}


td {
    border: 1px solid #FFE1E3;
}

.tabelaPacientes, .tabelaConsultas, .tabelaRelatorio, .tabelaMensagens{
    width: 100%;
    margin-top: 20px;
    border: 2px solid #6F233F;
}

.tabelaPacientes th, .tabelaConsultas th, .tabelaRelatorio th, .tabelaMensagens th{
    padding: 10px;
    background-color: #FFE1E3;
    color: #6F233F;
}

.corpoTabelaPacientes tr td, .corpoTabelaConsultas tr td, .corpoTabelaRelatorio tr td, .tabelaMensagens tr td{
    text-align: center;
}

.status-realizada {
  color: #DB627D;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}

.status-pendente {
  color: #A53861;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}