:root {
    --corTexto: #6F233F;
    --fundoSessoes: #FFE1E3;
    --fundoSessaoMedica: #F0F8FF;
    --corBotao: #E4908A;
    --bordaBotao: 1px solid #bc736e;
    --bordaBotaoForm: 2px solid #bc736e;
}

main{
    display: flex;
    min-height: 83vh;
}

#tituloPag{
    margin: 5px;
    padding: 5px;
}

#tituloPag h1{
    font-size: 30px;
    color: var(--corTexto);
    /* text-align: center; */
}

#tituloPag span{
    font-size: 30px;
    color: var(--corTexto);
    font-style: italic;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    background-color: var(--fundoSessoes);
    padding: 10px;
    border-radius: 5px;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: var(--corTexto);
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.menu li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu ul li button {
    background-color: #f7c1c4;
    border: 1px solid var(--corTexto);
    border-radius: 5px;
    width: 20px;
    color: var(--corTexto);
    font-weight: 200;
    font-size: 16px;
    padding: 10px;
    width: 30%;
    height: 30%;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}


.menu ul li button:hover {
    background-color: #d77b7f;
    color: black;
    font-weight: bold;
}

section{
    margin-top: 20px;
    padding: 0 20px;
    width: 80%;
    height: auto;
}

/* tirando a visibolidade  */
#historico{
    display: flex;
    flex-direction: column;
}

#dadosPessoais{
    display: none;
    align-items: center;
    justify-content: center;
}

#endereco{
    display: none;
    align-items: center;
    justify-content: center;
}

#agendarConsulta{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#avaliacoes{
    display: none;
    flex-direction: column;
}

#dadosAcompanhante{
    display: none;
    align-items: center;
    justify-content: center;
}

#acessarDadosAcompanhante{
    display: none;
}

#criarAvaliacao{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.formAvaliacoes{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 20px;
}


.conteudoInicial, .adicionarAvaliacao{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.conteudoInicial h2, .adicionarAvaliacao h2{
    font-size: 20px;
    color: var(--corTexto);
    margin: 0;
    flex-grow: 1;
}

.conteudoInicial button, #adicionarNovaAvaliacao{
    background-color: var(--fundoSessoes);
    color: var(--corTexto);
    border: 1px solid var(--corTexto);
    width: 15%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.conteudoInicial button a{
    text-decoration: none;
    color: var(--corTexto);

}

.conteudoInicial button:active, #adicionarNovaAvaliacao:active{
    transform: scale(0.95);
}

.conteudoInicial button:hover, #adicionarNovaAvaliacao:hover{
    background-color: #eab9bc;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

td {
    border: 1px solid var(--fundoSessoes);
}

table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-break: break-word;
  max-width: 200px;
  padding: 6px;
  text-align: left;
}

#tabelaHistorico, #tabelaAvaliacoes{
    width: 100%;
    margin-top: 20px;
    border: 2px solid var(--corTexto);
}

#tabelaHistorico th, #tabelaAvaliacoes th{
    padding: 10px;
    background-color: var(--fundoSessoes);
    color: var(--corTexto);
}

#corpoTabelaHistorico tr td, #corpoTabelaAvaliacoes tr td{
    text-align: center;
}

/* Sessão de editar dados  e alterar endereço */

.alterarDados, .alterarEndereco, .alterarDadosAcompanhante{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 90%;
}
.fieldsetAlterarDadosUsuários{
    margin-bottom: 10px;
}

.novaSenha {
    display: none; 
    width: 100%;
}

.novaSenha label {
    margin-bottom: 5px;
    display: block; 
    text-align: start; 
    width: 100%; 
}

.novaSenha input{
    margin-right: 30px;
}



.formAlterarDados, .formEndereco, .formAgendarConsulta{ /* formulario de alterar dados, endereço e agendar consulta*/
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 20px;
}

#formAlterarDadosAcompanhante select{
    padding: 10px;
    height: 45px;
    width: 90%;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #f401;
}

.fieldsetAlterarDadosUsuários, .fieldsetAlterarDadosAcompanhante, .fieldsetAlterarEndereco, .fieldsetAgendarConsulta{
    border: 2px solid var(--corTexto);
    padding: 0 20px;
    border-radius: 5px;
    background-color: var(--fundoSessaoMedica);
}

.fieldsetAlterarDadosUsuários legend, .fieldsetAlterarDadosAcompanhante legend,.fieldsetAlterarEndereco legend{
    font-size: 18px;
    color: var(--corTexto);
    font-weight: 500;
}

.fieldsetAlterarDadosUsuários p, .fieldsetAlterarDadosAcompanhante p, .fieldsetAlterarEndereco p, .fieldsetAgendarConsulta p, .fieldsetAvaliacoes p{
    font-size: 16px;
    color: var(--corTexto);
    font-style: italic;
    margin-bottom: 10px;
}


.information-group {
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 15px; 
}

.formAlterarDados .information-group label, .formEndereco .information-group label, .formAgendarConsulta .information-group label {
    margin-bottom: 5px; 
    display: block; 
}

.formAlterarDados .information-group input, .formEndereco .information-group input, .formAgendarConsulta .information-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%; 
    box-sizing: border-box; 
}

.fieldsetAgendarConsulta .information-group select, .fieldsetAvaliacoes .information-group select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%; 
}

.btnAlterarInformacoes{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btnAlterarInformacoes button, #editarDadosAcompanhante,#btnEnviarAvaliacao{
    background-color: var(--corBotao);
    color: white;
    border: var(--bordaBotaoForm);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0;
}

#editarDadosAcompanhante, #salvarInformacoesUsuario, #descartarInformacaoUsuario, #editarInformacoesAcompanhante, #salvarInformacoesAcompanhante, #descartarInformacoesAcompanhante,
#editarEndereco, #salvarEdicaoEndereco, #descartarAlteracaoEndereco{
    justify-content: center;
    display: none;
}

#salvarInformacoesUsuario:disabled, #descartarInformacaoUsuario:disabled, #editarInformacoesAcompanhante:disabled, #salvarInformacoesAcompanhante:disabled, #descartarInformacoesAcompanhante:disabled, #editarEndereco:disabled, #salvarEdicaoEndereco:disabled, #descartarAlteracaoEndereco:disabled{
    opacity: 0.9;
    cursor: not-allowed;
}

#salvarInformacoesUsuario:disabled:active, #descartarInformacaoUsuario:disabled:active,
#editarEndereco:disabled:active,#editarInformacoesAcompanhante:disabled:active, #salvarInformacoesAcompanhante:disabled:active, #descartarInformacoesAcompanhante:disabled:active, #salvarEdicaoEndereco:disabled:active, #descartarAlteracaoEndereco:disabled:active{
    transform: scale(0.98);
}

.fieldsetAgendarConsulta button{
    background-color:#eab9bc;
    color: var(--corTexto);
    border: var(--bordaBotaoForm);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0;

}

.btnAlterarInformacoes button:active, #btnEnviarAvaliacao:active, #editarDadosAcompanhante:active{
    transform: scale(0.95);
}

.btnAlterarInformacoes button:hover, #btnEnviarAvaliacao:hover, #editarDadosAcompanhante:hover{
    background-color: #d77b7f;
    color: black;
}

.fieldsetAgendarConsulta button:active{
    transform: scale(0.9);
}

.fieldsetAgendarConsulta button:hover{
    background-color: #d77b7f;
    color: white;
}

.fieldsetAvaliacoes {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.fieldsetAvaliacoes legend{
    text-align: flex-start;
    justify-content: start;
    font-size: 18px;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background:#eab9bc;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.modal h2 {
  margin: 0 0 20px;
  color: var(--corTexto);
}

#infoConsulta{
    margin: 10px 5px;
    color: var(--corTexto);
}

.confirm {
  background-color: #74b575;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel {
  background-color: #e76258;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm:hover, .cancel:hover {
  opacity: 0.9;
  color: white;
}

#fechar{
    background-color: #eab9bc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}