@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonte para o nome da Dra. */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --corTexto: #6F233F;
   --fundoSessoes: #FFE1E3;
   --fundoSessaoMedica: #F0F8FF;
   --corBotao: #E4908A;
   --bordaBotao: 1px solid #bc736e;
   --bordaBotaoForm: 2px solid #bc736e;
}

/* Estilizando primeira sessão: Apresentação médica */

.apresentacao_medica_container{
   display: flex;
   background-color: var(--fundo-Sessao);
   height: 70vh;
   padding: 20px;
   justify-content: space-around;
   align-items: center;
}

.apresentacao_medica_container .informacao_medica{
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.apresentacao_medica_container .informacao_medica h1{
   font-family: "Dancing Script", cursive;
   font-size:xx-large;
}

.apresentacao_medica_container .informacao_medica h3, h4{
   font-weight: 500;
   margin: 5px;
}

.apresentacao_medica_container .informacao_medica .btnAgendar_consulta{
   width: 65%;
   height: 35px;
   border-radius: 10px;
   font-size: medium;
   font-weight: 600;
   margin-top: 15px;
   background-color: #FFA5AB;
   cursor: pointer;
}

.btnAgendar_consulta:active{
   transform: scale(0.9);
   color: whitesmoke;
   border-color: whitesmoke;
}

.btnAgendar_consulta:hover{
   color: whitesmoke;
   border-color: whitesmoke;
}

/* Estilizando container de especialidades */

#especialidades{
   background-color: #FFE1E3;
}

#especialidades h2{
   padding: 10px;
   font-size: 30px;
   color: var(--corTexto);
}

.especialidades_container{
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content: space-around;
   height: 500px;
   padding: 20px;
}

.tipos_especialidades{
   max-width: 250px;
   max-height: 400px;
   padding: 5px;
   background-color: #EAA59F;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.tipos_especialidades img{
   height: 64px;
   width: 64px;
   margin-top: 10px;
}

.especialidades_container .tipos_especialidades figcaption h3{
   font-weight: 600;
   color: var(--corTexto);
   margin-bottom: 5px;
}

.especialidades_container .tipos_especialidades figcaption p{
   margin: 5px;
   text-align: justify;
}

.tipos_especialidades .btnSaibaMais{
   height: 40px;
   width: 50%;
   border-radius: 10px;
   border: 1px solid #bc736e; 
   margin-bottom: 10px;
   margin-top: 10px;
   background-color: #E4908A;
   cursor: pointer;
}

.tipos_especialidades .btnSaibaMais:active{
   transform: scale(0.9);
}

.tipos_especialidades .btnSaibaMais:hover{
   font-weight: bold;
   background-color: #ea7d75;
}

/* Estilizando sessão sobre a médica */

#sobre_medica{
   background-color: #f9f0f1;
}

.container_medica h2{
   color: var(--corTexto);
   padding-top: 20px;
   font-size: 30px;
}

.informacaoMedica-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.informacaoMedica-container img{
   margin: 20px 20px 20px 50px;
   padding: 20px;
}

.informacoes_medica{
   text-align: justify;
   padding: 30px;
   font-weight: 500;
}

/* Estilizando sessão do Blog */
#conheca_blog{
   background-color: var(--fundoSessoes);
}

#conheca_blog h2{
   color: var(--corTexto);
   padding-top: 20px;
   font-size: 30px;
}

.container_blog{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 500px;
}

.card-blog{
   display: flex;
   background-color: #EAA59F;
   height: 430px;
   width: 700px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 20px;
}

.card-blog img{
   padding: 10px;
   margin-top: 20px;
   height: 350px;
   width: 600px;
}

.card-blog button{
   height: 40px;
   width: 100px;
   margin: 10px;
   cursor: pointer;
   border: var(--bordaBotao);
   background-color: var(--corBotao);
   font-size: 15px;
   border-radius: 5px;
}

.card-blog button:active{
   transform: scale(0.9);
}

.card-blog button:hover{
   font-weight: bold;
   background-color: #ea7d75;
}

/* Estilizando sessão de depoimento */

#depoimento{
   background-color: #f9f0f1;
   height: 70%;
}

#depoimento h2{
   color: var(--corTexto);
   padding: 20px;
   font-size: 30px;
}

.depoimento-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 40px;
   align-items: center;
}

.card-depoimentos{
   max-width: 400px;
   max-height: 500px;
   padding: 5px;
   background-color: #EAA59F;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.card-depoimentos h4{
   font-size: 16px;
   color: #6F233F;
   font-weight: 600;
}

.card-depoimentos .comentario{
   text-align: justify;
   font-size: 16px;
   font-weight: 400;
   margin: 5px;
}

/* Estilizando sessão de contato */

.contato-container{
   background-color: var(--fundoSessoes);
   display: flex;
   padding: 10px;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   padding: 50px;
}

.form-container{
   align-items: center;
   max-height: 500px;
   max-width: 560px;
   background-color: #FFA5AB;
   border-radius: 8px;
   padding: 15px;
   margin: 10px 10px 10px 20px;
}

.form-container h1{
   padding: 10px;
   color: var(--corTexto);
   font-size: 25px;
}

.form-row {
   display: flex;
   gap: 5px;
   margin: 15px 5px;
}

.form-group{
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: 10px;
}

.form-container label{
   font-weight: 500;
   margin-bottom: 5px;
}

.form-container input, textarea{
   border-radius: 5px;
   border: 1px black solid;
   font-size: 16px;

}

.form-container textarea{
   max-width: 450px;
   max-height: 228px;
}

#lblNome{
   margin-left: 2px;
}

input[type="text"]{
   margin-right: 5px;
   width: 190px;
}

input[type="email"]{
   height: 30px;
}

input[type="tel"]{
   width: 125px;
}

.form-container #btnEnviar{
   border-radius: 10px;
   width: 100px;
   height: 40px;
   font-weight: bold;
   background-color: #FFA5AB;
   border: var(--bordaBotaoForm);
   box-shadow: 2px 1px 2px;
   cursor: pointer;
   margin-top: 5px;
}

.form-container #btnEnviar:active{
   transform: scale(0.9);
}

.form-container #btnEnviar:hover{
   color: white;
   box-shadow: none;
}

.slogan-container{
   display: flex;
   align-items: center;
   justify-content: end;
   font-size: 40px;
   margin: 20px;
   padding: 30px;
   color: var(--corTexto);
}

/* Estilizando footer */

.footer-container{
   display: flex;
   background-color: var(--fundo-sessaoMedica);
   height: 30vh;
   padding: 20px;
   justify-content: space-around;
   align-items: center;
}

.footer-container .logoInicial{
   width: 70px;
   height: 70px;
   margin: 0 20px 0 20px;
}

.footer-container .informacoes{
   width: 80vh;
   font-size: 16px;
}

.footer-container .rede-social{
   cursor: pointer;
}