@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonte para o nome da Dra. */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --corTexto-sessao-especialidade: #6F233F;
   --fundoSessoes: #FFE1E3;
   --fundo-sessaoMedica: #f9f0f1;
   --fundo-sessao-especialidade: #FFE1E3;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: aliceblue;
   text-align: center;
}

/* Estilização da nav */

nav {
   font-weight: 400;
   background-color: #FFA5AB;
   display: flex;
   align-items: center;
}

nav .logoInicial{
   max-width: 60px;
   max-height: 60px;
   margin: 0 20px 0 20px;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0 auto;
   display: flex;
}

nav ul li {
   margin: 0 15px;
}

nav ul li a {
   text-decoration: none;
   color: #A0445D;
   font-size: 18px;
   padding: 10px 15px;
   background: #FFA5AB;
   font-weight: 500;
}


nav ul li a:hover {
   background-color: #DA627D;
   border-radius: 10px;
   color: white;
}

/* Estilizando primeira sessão: Apresentação médica */

.apresentacao_medica_container{
   display: flex;
   background-color: var(--fundo-sessaoMedica);
   height: 70vh;
   padding: 20px;
   justify-content: space-around;
   align-items: center;
}

.apresentacao_medica_container .informacao_medica{
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.apresentacao_medica_container .informacao_medica h1{
   font-family: "Dancing Script", cursive;
   font-size:xx-large;
}

.apresentacao_medica_container .informacao_medica h3, h4{
   font-weight: 500;
   margin: 5px;
}

.apresentacao_medica_container .informacao_medica .btnAgendar_consulta{
   width: 65%;
   height: 35px;
   border-radius: 10px;
   font-size: medium;
   font-weight: 600;
   margin-top: 15px;
   background-color: #FFA5AB;
   cursor: pointer;
}

.btnAgendar_consulta:active{
   transform: scale(0.9);
   color: whitesmoke;
   border-color: whitesmoke;
}

.btnAgendar_consulta:hover{
   color: whitesmoke;
   border-color: whitesmoke;
}

/* Estilizando container de especialidades */

#especialidades{
   background-color: #FFE1E3;
}

#especialidades h2{
   padding: 10px;
   font-size: 30px;
   color: var(--corTexto-sessao-especialidade);
}

.especialidades_container{
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content: space-around;
   height: 400px;
   padding: 20px;
}

.tipos_especialidades{
   max-width: 250px;
   max-height: 350px;
   padding: 5px;
   background-color: #EAA59F;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.tipos_especialidades img{
   height: 64px;
   width: 64px;
   margin-top: 10px;
}

.especialidades_container .tipos_especialidades figcaption h3{
   font-weight: 600;
   color: var(--corTexto-sessao-especialidade);
   margin-bottom: 5px;
}

.especialidades_container .tipos_especialidades figcaption p{
   margin: 5px;
   text-align: justify;
}

.tipos_especialidades .btnSaibaMais{
   height: 40px;
   width: 50%;
   border-radius: 10px;
   border: 1px solid #bc736e; 
   margin-bottom: 10px;
   margin-top: 10px;
   background-color: #E4908A;
   cursor: pointer;
}

.tipos_especialidades .btnSaibaMais:active{
   transform: scale(0.9);
}

.tipos_especialidades .btnSaibaMais:hover{
   font-weight: bold;
   background-color: #ea7d75;
}

/* Estilizando sessão sobre a médica */

#sobre_medica{
   background-color: #f9f0f1;
}

.container_medica{
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.container_medica img{
   margin: 20px 20px 20px 50px;
   padding: 20px;
}

.informacoes_medica{
   text-align: justify;
   padding: 30px;
   font-weight: 500;
}